html, body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: center;
    gap: 40px;

    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid rgb(104, 6, 6);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 20px;
}
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}
nav a:hover {
    color: red;
}

main {
    background-color: lightblue;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

.break a {
    color: red;
    text-decoration: none;
    text-transform: uppercase;
}
.article-container {
    display: flex;
}
.article {
    background-color: aliceblue;
    width: 65%;
}
.article img {
    width: 100%;
}
.sidebar {
    background-color: lightyellow;
    width: 35%;
}

.business {
    border-top: 1px dotted black;
}
.business h3 {
    margin-bottom: 0;

}
.business-row {
    display: flex;
    gap: 10px;
    border-bottom: 1px dotted black;
    padding-bottom: 20px;
    padding-top: 20px;
}

.business-row img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  
}
.business-row h4 {
    margin-top: 0;
    margin-bottom: 0;
}
.business-row p {
    margin-top: 0;
    margin-bottom: 0;
}
footer {
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}